.food-card {
  border-bottom: 1px solid rgba(167, 167, 167, 0.844);
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.food-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.food-name {
  font-size: large;
}

.food-description {
  font-style: italic;
  font-size: smaller;
}

.food-price {
  color: var(--third);
  font-weight: bold;
}

.amount-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.amount {
  font-weight: bold;
  font-size: smaller;
  margin-right: 1rem;
}

.amount-tips {
  display: inline-block;
  border: 1px solid rgb(192, 192, 192);
  width: 50px;
  padding: 1px 4px;
  border-radius: 4px;
}

.button {
  width: 100%;
  border: none;
  font-size: large;
  padding: 4px 8px;
  border-radius: 12px;
  transition: all .2s;
}

.add-button {
  color: #eee;
  background-color: var(--third);
}

.remove-button {
  border: 1px solid var(--third);
  color: var(--third);
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  transform: scale(0.85);
}