.title-container {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: var(--primary);
  padding: 16px;
  border-radius: 16px;
  color: #eeeeee;
  z-index: 1;
}

.title {
  margin-bottom: 16px;
  font-size: 2rem;
}

.paragraph {
  margin-bottom: 8px;
}